.history
.bundle
.idea/
.stencil
.DS_Store
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.js.map
*.zip
*BACKUP.json
*BACKUP.html
assets/css-artifacts
assets/js/bundle.js
assets/dist
jspm_packages
node_modules
node_modules/
npm-debug.log
parsed/
vendor/bundle
package-lock.json